html, body {
  min-height: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', Sans-Serif;
}

.container {
  display: block;
}

/*-----Main Nav---*/
.nav {
  width: 100%;
  height: 75px;
  position: fixed;
  padding-top: 20px;
}

.nav ul {
  padding: 15px 15px;
  float: right;
}

.nav ul li {
  margin: 10px 20px;
  display: inline;
  float: left;
  text-transform: uppercase;
  text-align: center;
  list-style: none;
}

a {
  font-family: Sans-Serif;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  font-size: 19px;
  color: #ca8181;
}

a.active {
  font-family: Sans-Serif;
  font-size: 18px;
  color: #2c6a6d;
  font-weight: bold;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.logo {
  width: 200px;
  height: 100px;
  padding-left: 60px;
  display: inline;
}

#menu {
	display: none;
}

.seperate {
  background-color: #fff;
}

/*---- HOME --------*/
#home {
  width: 100%;
  height: 700px;
  padding: 100px 0px 20px 0px;
  background-color: #b9e1e3;
}

// Colors
$main: #E26A6A;
$secondary: #ECF0F1;
$slider: #1ABC9C;

/*slider begins*/
.slide {
  width: 600px;
  height: 200px;
  float: left;
  margin: 40px;
  overflow: hidden;
}

.imgs {
  width: 100%;
  left: -200px;
  position: relative;
}

.imgs li {
  width: 50%;
  top: 50px;
  left: 500px;
  position: absolute;
  list-style: none;
}

/*---- RELEASE --------*/
#release {
  width: 100%;
  height: 700px;
  padding: 100px 0px 20px 0px;
  background-color: #fff;
}

#release h1 {
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 30px;
  font-size: 1.8em;
  text-transform: uppercase;
}

.banner {
  padding: 0px 0px 15px 100px;
}

.first_img {
  padding-left: 100px;
}

.latest_desc {
  margin-top: 5px;
}

.first_img, 
.second_img, 
.third_img {
  width: 325px;
  padding-right: 12px;
  float: left;
  display: inline-block;	
}

/*---- PRODUCTS --------*/
#shop {
  width: 100%;
  height: 100%;
  padding: 100px 0px 20px 0px;
  background-color: #b9e1e3;
}

.product_heading {
  padding-left: 20px;
}

.results{
  width: 100%;
}

.brands_list,
.brands_sub {
  list-style: none;
}

.brands_list li a {
  font-weight: normal
}

.brands_list .all {
  font-weight: bold;
}

.sidebar {
  width: 20%;
  height: 600px;
  float: left;
  padding-left: 20px;
  border-right: 1px solid #fff;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.section img {
  width: 70%;
  padding: 20px 20px;
  background-color: #fff;
  border: 4px solid #000;
  box-shadow: 5px 5px 5px #888888;
}

.section img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
}

.row_1, 
.row_2, 
.row_3 {
  width: 800px;
  margin: auto 0 2% 3%;
  display: inline-block;
  float: left;
}

.row_3 {
  padding-bottom: 2px;
}

.col:first-child { 
  margin-left: 1%; 
}

/*  GROUPING  */
.group:before,
.group:after { 
  content: ""; 
  display: table; 
}

.group:after { 
  clear: both;
}

.group { 
 zoom: 1; /* For IE 6/7 */ 
}

/*  GRID OF THREE  */
.span_1_of_3 { 
  width: 32.70%; 
}

.span_2_of_3 { 
  width: 33.13%; 
}

.span_3_of_3 { 
  width: 33.11%; 
}

#photobox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.7);	
  text-align: center;
  z-index: 99;
}

#photobox img {
  width: 60%;
  height: 50%;
  margin: 2% auto 0 auto;
  position: relative;
  background-color: white;
  border: 8px solid #ccc;
  box-shadow:		     0 0 25px #111;
  -webkit-box-shadow:0 0 25px #111;
  -moz-box-shadow:   0 0 25px #111;
  z-index: 9002;  
}

/*----- ABOUT --------*/
#about {
	width: 100%;
	height: 600px;
  padding: 150px 0px 50px 0px;
	background-color: #b9e1e3;
}

#about p {
  width: 70%;
	margin-left: 50px;
	display: block;
}

.black_logo {
	width: 300px;
  margin-right: 20px;
	padding-left: 100px;
	float: left;
	clear: both;
}

/*----- CONTACT --------*/
#contact {
	width: 100%;
	height: 600px;
  padding: 150px 0px 50px 0px;
	background-color: #b9e1e3;
}

#contact h1, 
#about h1 {
	text-transform: uppercase;
}

form {
	float: left;
}

.value, 
input[type=text], 
textarea {
	margin: 10px 0px;
	display: inline-block;
}

.value {
	width: 150px;
	height: 30px;
  padding: 10px 10px 0px 0px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
	background-color: #000;
}

input[type=text], 
textarea {
	margin-left: 20px;
}

input[type=text] {
	width: 300px;
	height: 30px;
}

textarea {
	width: 300px;
	height: 150px;
	vertical-align: top;
}

input[type=submit]{
  width: 140px;
  height: 40px;
  margin-left: 350px;
  padding: 0;
	vertical-align: top;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
	background-color: #000;
	cursor: pointer;
}

.msg_hidden {
  text-align: center;
  visibility: hidden;
}

/*-------FOOTER------*/
#footer {
  width: 100%;
  height: 250px;
  padding-top: 20px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  color: #000;
  background-color: #a0a0a0;
}
 
.float{
  width: 20%;
	margin: 0;
	float: left;	
}

.clear {
	clear: both;
	overflow: hidden;
}

h4 {
  width: 70%;
  padding-bottom: 10px;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 4px solid #fff;  
}

.social {
	padding-left: 60px;
}

.social img {
	width: 30px;
}

.info ul {
	padding-left: 0;
	list-style-position: inside;
}

.info ul li {
	margin: 0;
	list-style: none;
}

.info li a {
	font-weight: normal;
	font-size: .8em;
}

.footer_logo {
	height: 120px;
}

.address {
  vertical-align: top;
  display: block;
    	
}

.news {
	padding-bottom: 20px;
}

.news p, .address p {
	font-size: .8em;
}

.news input {
	width: 200px;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 2px;
}

.news button {
  width: 210px;
  height: 30px;
  font-weight: bold;
	color: #000;
	background-color: #fff;
	cursor: pointer;
	border-radius: 8px;
}

.news button:hover {
	background-color: #000;
	color: #fff;
}

/*-----Clearfix------*/
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}








